Repository haythem-ouederni/ng-best-practices: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --fix, prettier --single-quote --no-bracket-spacing --write --trailing-comma es5 --print-width 140, prettier --single-quote --write --print-width 140

feat(transversal): adding Jest for unit tests
  README.md
  angular.json
  general/confs/index.ts
  general/confs/jest/index.ts
  general/confs/jest/jest.commun.ts
  general/confs/jest/jest.connection.config.js
  general/confs/jest/setup/jestGlobalMocks.ts
  general/confs/jest/setup/setupJest.ts
  general/index.ts
  jest.config.js
  package-lock.json
  package.json
  projects/connection-standalone/tsconfig.app.json
  projects/connection-standalone/tsconfig.spec.json
  projects/connection/README.md
  projects/connection/karma.conf.js
  projects/connection/src/lib/modules/main/pages/__snapshots__/connection.component.spec.ts.snap
  projects/connection/src/lib/modules/main/pages/connection.component.spec.ts
  projects/connection/src/lib/modules/main/services/connection.service.spec.ts
  projects/connection/src/public_api.ts
  projects/connection/src/test.ts
  projects/connection/tsconfig.lib.json
  projects/connection/tsconfig.spec.json
  src/app/components/app.component.spec.ts
  src/karma.conf.js
  src/test.ts
  src/tsconfig.app.json
  yarn.lock
Due: tslint --fix, prettier --single-quote --no-bracket-spacing --write --trailing-comma es5 --print-width 140

feat(transversal): adding author information and key words to package.json
  package.json
Due: none

feat(transversal): adding commit messages linting
  README.md
  commitlint.config.js
  package.json
  yarn.lock
Due: none

feat(transversal): add more options for tslint
  e2e/src/app.e2e-spec.ts
  e2e/src/app.po.ts
  package.json
  projects/connection-standalone/src/app/app-routing.module.ts
  projects/connection/src/lib/modules/main/services/connection.service.ts
  tslint.json
Due: tslint --fix, prettier --single-quote --no-bracket-spacing --write --trailing-comma es5 --print-width 140

feat(transversal): adding debug options for unit testing
  .vscode/launch.json
  README.md
Due: none

docs(transversal): adding more documentation and a project general introduction
  README.md
Due: none

docs(transversal): adding licence file
  LICENCE
Due: none

feat(transversal): adding NGXS for state management + Facade Pattern
  README.md
  package.json
  projects/connection-standalone-app/src/app/app.module.ts
  projects/connection/src/lib/modules/main/connection.constant.ts
  projects/connection/src/lib/modules/main/connection.module.ts
  projects/connection/src/lib/modules/main/pages/page-one/__snapshots__/page-one.component.spec.ts.snap
  projects/connection/src/lib/modules/main/pages/page-one/page-one.component.html
  projects/connection/src/lib/modules/main/pages/page-one/page-one.component.spec.ts
  projects/connection/src/lib/modules/main/pages/page-one/page-one.component.ts
  projects/connection/src/lib/modules/main/pages/page-two/__snapshots__/page-two.component.spec.ts.snap
  projects/connection/src/lib/modules/main/pages/page-two/page-two.component.html
  projects/connection/src/lib/modules/main/pages/page-two/page-two.component.scss
  projects/connection/src/lib/modules/main/pages/page-two/page-two.component.spec.ts
  projects/connection/src/lib/modules/main/pages/page-two/page-two.component.ts
  projects/connection/src/lib/modules/main/state/connection.action.ts
  projects/connection/src/lib/modules/main/state/connection.facade.spec.ts
  projects/connection/src/lib/modules/main/state/connection.facade.ts
  projects/connection/src/lib/modules/main/state/connection.state.spec.ts
  projects/connection/src/lib/modules/main/state/connection.state.ts
  projects/connection/src/lib/modules/main/state/index.ts
  src/app/app.module.ts
  src/app/components/welcome/__snapshots__/welcome.component.spec.ts.snap
  src/app/components/welcome/welcome.component.html
  src/app/components/welcome/welcome.component.spec.ts
  src/app/components/welcome/welcome.component.ts
  yarn.lock
Due: tslint --fix, prettier --single-quote --no-bracket-spacing --write --trailing-comma es5 --print-width 140, prettier --single-quote --write --print-width 140

docs(transversal): documentation update : internationalization + styling
  README.md
Due: none

fix(core): fix LanguageUtilsService problem
  package.json
  projects/core/src/lib/utils/language/language-utils.service.ts
  projects/core/src/lib/utils/language/multi-translate-http-loader.spec.ts
  projects/core/src/lib/utils/language/multi-translate-http-loader.ts
Due: tslint --fix, prettier --single-quote --no-bracket-spacing --write --trailing-comma es5 --print-width 140

Path conditions:
  tslint --fix: any of: {src,e2e,general,projects}/**/*.ts
  prettier --single-quote --no-bracket-spacing --write --trailing-comma es5 --print-width 140: any of: {src,e2e,general,projects}/**/*.ts
  prettier --single-quote --write --print-width 140: any of: {src,e2e,general,projects}/**/*.scss
